@import "~font-awesome/css/font-awesome.min.css";

table {
    background-color: rgb(223, 223, 223);
}

i.trash-bin{
    color: black;
    font-size: larger;
    cursor: pointer;
}

table.search-result {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;
    width: 80%;
    table-layout: fixed;
    text-align:center;
}

tr {
    background: white;
    border: dotted 0.2px;
    color: black;
}

tr.result-title {
    border-bottom: solid 1px;
    box-shadow: 0px 5px 5px black;;
    font-weight: bold;
    cursor: pointer;
}

img.icon {
    object-fit: cover;
    width: 90%;
    height: 90%;
    margin-top:5%;
}

div.no-record {
    color : red;
    border-radius: 20px;
}