<head>
    <title> Event search page.</title>
    <link rel="stylesheet" type="text/css" href="../static/css/event_page.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/search_result.css" >
</head>

<body><div class="detailed-card">

    <div class="event-detail blur-box">
        <div class='box-title'>
            <h1>Head</h1>
        </div>
        <div class="card-content">
            <div class="info">
                <label for="date">Date</label>
                <div class="value date">
                    2023-10-22 11:59:59
                </div>
                <label>Artists/Team</label>
                <div class="value artists">
                    <a href="about:blank">Nut Ziquan</a>
                </div>
                <label for="Venue">Venue</label>
                <div class="value venue">Venue T</div>
                <label>Genres</label>
                <div class="value genres">Genres T</div>
                <label>Price Ranges</label>
                <div class="value price">40-155 USD</div>
                <label>Ticket Status</label>
                <div class="value status">
                    <button>On sale</button>
                </div>
                <label>Buy Ticket At:</label>
                <div class="value link">
                    <a href="about:blank">Ticketmaster</a>
                </div>
            </div>
            <div class="pic">
                <div>
                    <img src="https://maps.ticketmaster.com/maps/geometry/3/event/09005D5FA3152FFE/staticImage?type=png&systemId=HOST" alt="No Available SeatMap">
                </div>
            </div>
        </div>
    </div>

    <div class="arrow" style="visibility:hidden">
        <div> Show Venue Details </div>
        <div class="img">
            <img src="../static/pic/chevron-down-thin.png" class="icon">
        </div>
    </div>

    <div class="event-detail venue-detail"  style="display:none;">
        <div class="inner-box">
            <div class="box-title">
                <h1>Concert Hall</h1>
            </div>
            <div class="card-content">
                <div class="left">
                    <div class="Address">
                        <div class="label">Address: </div>
                        <div class="data">
                            <div class="st-line1">111 S Normandie Ave</div>
                            <div class="st-line2">Los Angeles, CA</div>
                            <div class="zip-code">90007</div>
                        </div>
                    </div>
                    <div class="link map"><a href="">Open in Goole Maps</a></div>
                </div>
                <div class="right link">
                    <a href="">More events at this venue</a>
                </div>
            </div>
        </div>
    </div>

</div></body>

